.box-layout {
    background: url('/images/bg.jpg');
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
}

.box-layout__box {
    border-radius: 3px;
    text-align: center;
    width: 25rem;
    background: fade-out($color: white, $amount: 0.15);
    padding: $l-size;
}

.box-layout__title{
    margin: 0 0 $m-size 0;
    line-height: 1;
}

