.button {
  background: $light-blue;
  border: none;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: 1%;
  text-decoration: none;
}

.button__logout {
  background: none;
}

.button__secondary {
  background: #888888;
}
