.form {
  display: flex;
  flex-direction: column;
  > * {
    margin-bottom: $m-size;
  }
}

.form__error {
  margin: 1rem;
  font-style: italic;
  font-weight: 400 !important;
  text-align: center;
}
