.header {
  background: cornsilk;
}

.header__title {
  text-decoration: none;
  display: flex;
  h1 {
    margin: 0;
    padding-left: $s-size;
  }
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $s-size 0;
}

.header__titlepic {
  width: 15rem;
  margin-top: 0.7rem;
  margin-left: 0.7rem;
}

.header__upload {
  padding-left: 75%;
  @media (max-width: $desktop-breakpoint) {
    padding-left: 40%;
  }
}
