.video__display {
  width: 500px;
  height: 500px;
}

.video__detailsWithPublic {
  height: 80%;
}

.video__withoutPublic {
  height: 90%;
}

.video__format {
  background-color: fade-out($color: white, $amount: 0.3);
  width: 100%;
  border-radius: 1rem;
  box-shadow: 3px 9px 5px grey;
  border-color: azure;
}

.video__filters {
  background-color: fade-out($color: white, $amount: 0.3);
  width: 100%;
  height: 20%;
}
::-webkit-scrollbar {
  width: 10px;
  color: gray;
}

.video__id {
  background-color: fade-out($color: red, $amount: 0.7);
}

.video__enclose {
  display: contents;
}
.video__new {
  width: 100%;
  background-color: fade-out($color: gray, $amount: 0.7);
}

.video__title {
  width: 40%;
  height: 5rem;
  border-radius: 1rem;
  border-color: azure;
}

.video__saveBtn {
  margin: 2rem;
  height: 5rem;
  display: grid;
}

.video__buttonStyle {
  border-radius: 5rem;
}
.video__fullPage {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(/images/bg.jpg);
  min-height: 750px;
  height: 100%;
  background-repeat: no-repeat;
}

.video__url {
  padding: 1.2rem;
  padding-right: 0;
  display: flex;
  justify-content: center;
}

.video__videoId {
  width: 17%;
  border-radius: 1rem;
  border-color: azure;
}

.video__details {
  padding-left: 2rem;
  width: 32%;
  @media (max-width: $desktop-breakpoint) {
    width: 72%;
  }
}

.video__thumbnail {
  width: 280px;
  height: 250px;
  margin: 2rem 3rem;
  box-shadow: 3px 9px 5px grey;
  cursor: pointer;
}
.video__description {
  width: 30%;
  height: 10rem;
  border-radius: 1rem;
  border-color: azure;
  @media (max-width: $desktop-breakpoint) {
    width: 72%;
  }
}

.video__visibility {
  padding: 1.2rem;
  background-color: fade-out($color: white, $amount: 0.5);
}

.video__privatePublic {
  padding-left: 3rem;
}

.video__videoVerification {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video__question {
  font-weight: 900;
  color: black;
  background-color: fade-out($color: white, $amount: 0.4);
  padding-left: 3rem;
  font-size: large;
}

.video__save {
  text-align: right;
  padding: 3rem;
}

.video__searchby {
  margin-left: 3rem;
  text-shadow: 0.1rem 0.1rem grey;
}

.video__applyBtn {
  padding: 1rem;
  text-align: right;
}

// COLORS
$softorange: #f4a259;
$tomatored: #f25c66;

html {
  margin: 0px;
  height: 100vh;
  padding: 0;
  width: 100%;
  position: relative;
}

body {
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
  width: 100%;
  background-color: black;
}

.close-container {
  cursor: pointer;
}

.leftright {
  height: 2px;
  width: 25px;
  position: absolute;
  margin-top: 24px;
  background-color: $softorange;
  border-radius: 2px;
  transform: rotate(45deg);
  left: 95%;
  transition: all 0.3s ease-in;
}

.rightleft {
  height: 2px;
  width: 25px;
  position: absolute;
  margin-top: 24px;
  background-color: $softorange;
  border-radius: 2px;
  transform: rotate(-45deg);
  transition: all 0.3s ease-in;
  left: 95%;
}

label.close {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.6em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s ease-in;
  opacity: 0;
}
.close-container:hover .leftright {
  transform: rotate(-45deg);
  background-color: $tomatored;
}
.close-container:hover .rightleft {
  transform: rotate(45deg);
  background-color: $tomatored;
}
.close-container:hover label {
  opacity: 1;
}

.video__containerNoVideo {
  height: 80%;
  display: flex;
}
.video__container {
  display: flex;
  flex-wrap: wrap;
  height: 80%;
  top: 9rem;
  position: relative;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(/images/bg.jpg);
  @media (max-width: $desktop-breakpoint) {
    top: 11rem;
  }
  > div {
    display: flex;
    width: 48%;
    @media (max-width: $desktop-breakpoint) {
      width: 100%;
      top: 11rem;
    }
    margin: 1rem;
    box-sizing: border-box;
  }
}

.video__comment {
  border: 0.1rem solid brown;
  margin: 0.4rem;
  width: 99%;
  display: flex;
}

.video__noComments {
  margin: 10rem 25rem;
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
}
